#Custom
/nextjs/pages/test.js
nextjs/pages/test.js
nextjs/pages/api/test.js
/nextjs/pages/api/test.js

## .env file
.env
nextjs/.env

# Certbot
/data/certbot

# next.js
.next
/.next/
/out/
/node_modules 
/.pnp
.pnp.js
/nextjs/yarn.lock

/nextjs/.next
/nextjs/.next/
/nextjs/out/
/nextjs/node_modules
/nextjs/.pnp
/nextjs/.pnp.js



# production
/build
/nextjs/build

# testing
/coverage

/nextjs/coverage

## VSCode
.vscode

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# local env files
.env*.local

# vercel
.vercel